.search-control{
    margin: 10px 0 0 0;
    display: block;
    width: 90%;
    height:calc(2.2rem);
    font-size: 14px;
    border: 1px solid #e9ecef;
    padding: 0.375rem 0.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}
.search-control:focus{
    outline: 1px solid blue;
}